# Mandatory settings
baseurl: ""
name: Jonathan New
url: "http://blog.jonnew.com" # add site url http://example.com/
blog_theme: light # Or use dark

# Optional settings

rss_enabled: true # Change to false if not
about_enabled: false # Change to true if you wish to show an icon in the navigation that redirects to the about page
social:
  dribbble: # Add your Dribbble handle
  facebook: # Add your Facebook handle
  flickr: # Add your Flickr handle
  github: newtang
  linkedin: jonnew
  twitter: newtang
  email: # Add your Email address
  bitcoin: # Add your Bitcoin link or address

# Important settings (change at own risk)

collections:
  my_tags:
    output: true
    permalink: /tag/:slug/
defaults:
    scope:
      path: ""
      type: my_tags
    values:
      layout: articles_by_tag
exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
gems:
  - jekyll-sitemap
  - jemoji
permalink: posts/:slug
