<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main role="main">
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article reveal">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <div class="article-list-footer">
              <span class="article-list-date">
                {{ page.date | date: "%B %-d, %Y" }}
              </span>
              <span class="article-list-divider">-</span>
              <span class="article-list-minutes">
                {% capture words %}
                  {{ page.content | number_of_words }}
                {% endcapture %}
                {% unless words contains "-" %}
                  {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
                {% endunless %}
              </span>
              <span class="article-list-divider">-</span>
              <div class="article-list-tags">
                {% for tag in page.tags %}
                  <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </header>

          <div class="article-content">
            {{ content }}
          </div>

        </article>
        
        <div class="pageNav">
          {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="next" {% if page.previous.url == null %} style="width:100%" {% endif %} href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          {% endif %}
        </div>

      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
